<h1>Product list</h1>

<table>
    <thead>
        <tr>
            <th>Name:</th>
            <th>Description:</th>
            <th>Action:</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td>placeholder</td>
        </tr>
        <% end %>
    </tbody>

</table>